@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }
  h1 {
    @apply text-4xl font-bold text-slate-900 dark:text-white;
  }
  h2 {
    @apply text-3xl font-medium text-slate-900 dark:text-white;
  }
  h3 {
    @apply text-2xl font-medium text-slate-900 dark:text-white;
  }
  p {
    @apply text-base font-normal text-slate-700 dark:text-slate-300;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Menu Active */
li a.active {
  color: #0057E7;
}

li a.active::before {
  content: '';
  width: 3px;
  height: 32px;
  background: #0057E7;
  position: absolute;
  left: 3px;
  top: 0;
  display: block;
}
